name: CICD

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:
  
jobs:
  on_build_actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install depencies
        run: |
          cd $GITHUB_WORKSPACE
      - name: Run Tests
        run: python -m unittest unitetsts.py
        
        
  sending_message:
        runs-on: ubuntu-latest
        needs: [on_build_actions]
        
        steps:
          - name: "Telegram Notification, when test is successed"
            uses: "appleboy/telegram-action@master"
            if: ${{ success() }}
            with:
              to: ${{ secrets.TP2_CHATID }}
              token: ${{ secrets.TP2_TOKEN }}
              args: Все ок
          - name: "When tests are failed"
            uses: appleboy/telegram-action@master
            if: ${{ failure() }}
            with:
              to: ${{ secrets.TP2_CHATID }}
              token: ${{ secrets.TP2_TOKEN }}
              message: "возникла проблема: ${{ steps.tests.outputs.stderr }}"
